[run]
# Включить/выключить отслеживание частичных ветвей:
branch = True

# Список паттернов для исключения файлов и директорий из измерения или отчета:
omit =
    # Разработческие файлы и директории:
    *venv\*
    */.venv/*
    */.pycharm_helpers/*
    \*helpers\pycharm\*
    /usr/share/python3/*

[report]
# Не включать в отчет файлы со 100% показателем coverage:
skip_covered = True

# Включить/выключить отображение номеров невыполненных строк (колонка Missing) в отчете:
show_missing = True

# Минимально допустимый общий(TOTAL) процент покрытия:
fail_under = 0

# Cписок паттернов для исключения строк (если ветвь, то весь блок) из отчета:
exclude_lines =
    # Стандартный паттерн
    pragma: no cover

# Cписок регулярных выражений.
# Любая совпадающая строка никогда не будет иденцифирована как 'частичная ветвь' (см branch):
partial_branches =
    # Стандартный паттерн
    pragma: no branch

    # Паттерны, к строкам которым нельзя применить стандартный паттерн:
    assert

# Сортировать содержимое отчета по показателю этой колонки:
sort = Cover