[run]
# Turn on/off tracking of partial branches:
branch = True

# List of patterns for excluding files and directories from reports:
omit =
    # Files and directories only for development:
    *venv\*
    */.venv/*
    */.pycharm_helpers/*
    \*helpers\pycharm\*
    /usr/share/python3/*

[report]
# Exclude files with 100% coverage in the report:
skip_covered = True

# Enable/disable displaying of numbers of outstanding lines (Missing column) in the report:
show_missing = True

# The minimum allowable (TOTAL) percentage of coverage:
fail_under = 0

# List of patterns for excluding lines (the entire block if a branch) from the report:
exclude_lines =
    # Standard pattern
    pragma: no cover

# Regular expression list.
# Any matching line will never be identified as a 'partial branch' (see branch):
partial_branches =
    # Standard pattern
    pragma: no branch

    # Patterns to which the standard pattern cannot be applied:
    assert

# Sort the contents of the report by the indicator of this column:
sort = Cover
