AIRFLOW_HOME=/usr/local/airflow
META_USER=airflow
META_PASS=airflow
# AIRFLOW__WEBSERVER__SECRET_KEY - is a secret key to run your flask app
# It should be as random as possible
# Could be generated with `shuf -zer -n32  {A..Z} {a..z} {0..9} | tr -d '\0'`
# AIRFLOW__WEBSERVER__SECRET_KEY=
# Variables needs for ElasticSearch
CURL_VERSION=7.84.0
ELASTIC_STACK_VERSION=8.3.3
# Put your strong Pa$Sw0Rd
ELASTIC_PASSWORD=simplepassword
# Put your strong Pa$Sw0Rd
KIBANA_PASSWORD=simplepassword
